<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI App with OpenAI API</title>
</head>
<style>
body {
  background-image: url('/pink.jpg');
}
</style>
<body data-new-gr-c-s-loaded="14.1162.0" spellcheck="false">
    <form action="/generate" method="post">
        <p style="text-align: center;"><span style="font-size: 48px;">Hi there 👋<br>How can I help you today?</span></p><textarea name="prompt" placeholder="Enter your prompt" class="fr-rounded fr-large" style="height: 194px; width: 870px;"></textarea>
        <p style="text-align: center;"><button type="submit">Generate</button></p>
    </form>
    <p>{% if response %}</p>
    <div>
        <p>{{ response }}</p>
    </div>
    <p>{% endif %}</p>
</body>

</html>
